.hire-forms-autocomplete
	&.query-not-in-list
		.add-new-tag-to-list
			display flex

	.add-new-tag-to-list
		background-color blue
		bottom 0
		centerContent()
		color white
		cursor pointer
		display none
		font-size 5em
		font-weight bold
		position absolute
		right 0
		top 0
		width 76px

	ul.hire-options
		background-color white
		left 0
		position absolute
		right 0

		li
			padding 1em
