.latest-uploads
	h3
		height 10%

	ul
		display flex
		flex-wrap wrap
		height 90%
		justify-content space-between
		list-style none

		li
			centerContent()
			height 48%
			well()
			width 32%

			img
				max-height 100%
				max-width 100%